
ChapinesGT/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
ChapinesGT/.vs/ChapinesGT/config/applicationhost.config
ChapinesGT/.vs/ChapinesGT/DesignTimeBuild/.dtbcache
ChapinesGT/.vs/ChapinesGT/DesignTimeBuild/.dtbcache.v2
ChapinesGT/.vs/ChapinesGT/v16/.suo
*.lock
*.ide
*.v1
ChapinesGT/.vs/ChapinesGT/v17/.suo
*.dll
*.exe
*.pdb
*.so
ChapinesGT/bin/Debug/net6.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
*.dylib
*.xml
*.csproj
*.user
*.sln
*.props
ChapinesGT/obj/ChapinesGT.csproj.nuget.g.targets
*.cache
*.CopyComplete
*.txt
*.editorconfig
*.BuildWithSkipAnalyzers
*.targets
*.sentinel
*.css
*.map
*.js
*.ico
ChapinesGT/wwwroot/lib/bootstrap/LICENSE
*.md
ChapinesGT/Properties/launchSetttings.json
