@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    #central {
        background-image: url('https://i.pinimg.com/originals/0b/b8/7a/0bb87a7e4573405c8a42e0e937471f77.jpg');
        background-size: cover;
        padding-top: 200px;
        height: 900px;
    }
     #h1 {
        color: #FEFFEF;
        font-size: 200%;
        font-weight: bold;
        font-style: oblique;
    }
    }
     
</style>
 <br>
                    <br>
                    <br>
       <section id="central">
            <div class="container">
                <div class="contenido-centrado">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 id ="h1">Bienvenidos</h1>
                    <p>
                        Aquí puedes acceder a diferentes modulos de la pagina para realizar una queja.
                    </p>
                    <a href="" class="btn btn-bl">Quejas <i class="icon ion-md-save"></i></a>
                    <a href="" class="btn btn-bl">Comercios <i class="icon ion-md-person"></i></a>
                    <a href="" class="btn btn-bl">Sucursales<i class="icon ion-md-home"></i></a>
                    <a href="" class="btn btn-bl">Departamentos<i class="icon ion-md-airplane"></i></a>
                    <a href="" class="btn btn-bl">Municipios<i class="icon ion-md-airplane"></i></a>
                    <br>
                </div>
        </section>
