<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600i,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--Bootstrap CSS-->
    <title>Bootstrap</title>
</head>
<style type="text/css">
    body {
        font-family: 'Titillium Web', sans-serif;
    }

    .navbar {
        background: white;
        box-shadow: 0 2px 44px 0 rgb(0,0,1.05);
        min-width: 200px;
    }

    .nav-link {
        color: black;
    }

        .nav-link:hover {
            color: black;
        }

    h2 {
        color: white;
        font-size: 150%;
        font-weight: bold;
        font-style: oblique;
    }

    h1 {
        color: #623A17;
        font-size: 200%;
        font-weight: bold;
        font-style: oblique;
    }

    .contenido-centrado {
        max-width: 1000px;
        margin: 0 auto 80px auto;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 125%;
    }

    .contenido-centrado2 {
        max-width: 800px;
        margin: 0 auto 80px auto;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 125%;
    }

    .btn {
        font-size: 15px;
        padding: 15px 26px;
        min-width: 160px;
        border-radius: 2px;
        display: inline-block;
    }

    .btn-bl {
        background-color: #E7E7E7;
        color: black;
        border: #23BE52 5px solid
    }

    .btn i {
        margin-left: 5px;
    }

    .beneficios-detalles {
        position: absolute;
        bottom: 25px;
        left: 25px;
        z-index: 9000;
    }

        .beneficios-detalles a h2, .beneficios-detalles a p {
            color: white;
        }

    a:hover {
        text-decoration: none;
    }

    .beneficios-detalles h2 {
        margin-bottom: 0px;
    }

    .beneficios-contenido img {
        -moz-transition: all 0.8s;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }

    .beneficios-contenido:hover img {
        -moz-transforms: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
</style>
<body style="background-color: #FFE8CD">
    <header>
        <nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="https://cdn.dribbble.com/users/1247975/screenshots/7362387/media/4d34da5bda0b75320c6d9c8fcbc29b35.png?compress=1&resize=400x300" alt="" width="50" height="50">  </a>
            <h1>Chapines GT</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="navbar-toggler-icon"></i>
            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index" id="inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Quejas/Index" id="beneficios">Quejas</a>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Sucursals/Index" id="beneficios">Sucursales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                            asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" 
                            asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ChapinesGT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $('#listaUsuarios').DataTable();
    });
</script>
